.task-input-button {
    text-transform: none;
    margin-left: 20px;
    padding: 8px 15px;
    background-color: #315BFF;
    flex-shrink: 0;
    height: 100%;
    box-shadow: none;
    transition: background-color 0.1s;
}

.task-input-button:hover {
    background-color: #466CFF;
    box-shadow: none;
}

.task-input-button:active {
    background-color: #0035A0;
    box-shadow: none;
}
