.app-input-outer-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E9E9E9;
    margin: 20px 0 0;
    padding: 0 20px 20px;
}

.app-input-label {
    color: #888;
    padding-right: 60px;
    margin: 0;
    flex-shrink: 0;
    font-size: 16px;
}

.app-tasks-outer-box {
    padding: 25px 20px;
}

.app-tasks-header {
    font-size: 22px;
    margin: 0;
}

.app-tasks-inner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    margin: 20px 0;
}
